body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1em 10em;
  flex-wrap: wrap;
}

header div {
  width: 100%;
  text-align: center;
}

header div a {
  font-weight: bold;
  margin: 0;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.formulario{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario div {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: 1em 0;
  justify-content: space-evenly;
  align-items: center;
}

.formulario div input {
  width: 60%;
  padding: 1.5em 1em;
  border: none;
  background: rgba(128, 128, 128, 0.137);
}
.formulario div button {
  width: 20%;
}

/* lista */

.lista{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

/* tarjeta styles */

.padreTarjeta{
  position: relative;
  margin: 10px auto;
  text-decoration: none;
}

.padreTarjeta:hover .muestra {
  width: 300px;
  height: 6vh;
  visibility: visible;
  transition: all .5s;
  left: 0;
  right: 0;
  border-radius: 5px;
  border: none;
  background: rgba(252, 252, 252, 0.445);
}

.muestra{
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  border: none;
  backdrop-filter: blur(5px);
}

.muestra div {
  width: 28%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  font-size: 20px;
}

.muestra img {
  width: 20px;
  margin: 0;
  padding: 0;
}

/* media tablet */
@media (max-width:698px) {
  /* formulario */
  .formulario div {
    width: 100%;
    flex-wrap: wrap;
  }
  .formulario div input {
    width: 100%;
  }
  .formulario div button{
    width: 100%;
    margin-top: 1em;
  }

  .padreTarjeta{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .padreTarjeta img{
    width: 100%;
  }

}